/* 
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");



#title {
    padding-bottom: 30px;
}

h1,
.question {
    font-weight: 600;
    color: #094067;
}

h1 {
    margin-bottom: 5px;
}

h1,
label {
    color: #094067;
}

p {
    color: #5f6c7b;
}

h1,
#description {
    text-align: center;
}

#description {
    margin-bottom: 20px;
}

#survey-form {
    width: 90%;
    max-width: 630px;
    margin: 0 auto;
    padding: 0.5em 1em;

    background: #fff;
    border-radius: 15px;
    box-shadow: 7px 4px 13px rgb(0 0 0 / 18%);
}

#survey-form .form-group {
    display: flex;
    flex-direction: column;
}

#survey-form .form-group input {
    margin: 5px 0 15px;
    padding: 1.2em 1em;
}

#survey-form .form-group label {
    width: 115px;
}

#survey-form :placeholder {
    color: black;
}

#survey-form .question {
    margin-bottom: 5px;
}

#survey-form button {
    display: block;
    margin: 30px auto 0;
    padding: 1em 5em;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    background: #3da9fc;
    border: none;
    outline: none;
}

* {
    box-sizing: border-box;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #262626;
}

.button {
    position: relative;
    display: block;
    width: 200px;
    height: 36px;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    background-color: #1c89ff;
    border: solid 1px transparent;
    border-radius: 18px;
    transition: all 0.1s ease-in-out;
}

.button:hover {
    background-color: transparent;
    border-color: #fff;
    transition: all 0.1s ease-in-out;
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin: 30px auto 0;
    opacity: 0;
    background: transparent;
    border: solid 2px #424242;
    border-top: solid 2px #1c89ff;
    border-radius: 50%;
}

.check {
    transform: translate3d(-4px, 50px, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.check span:nth-child(1) {
    transform: rotate(45deg);
    display: block;
    width: 10px;
    height: 2px;
    background-color: #fff;
}

.check span:nth-child(2) {
    transform-origin: 100%;
    transform: rotate(-45deg) translate3d(14px, -4px, 0);
    display: block;
    width: 20px;
    height: 2px;
    background-color: #fff;
}

.loader.active {
    animation: loading 2s ease-in-out;
    animation-fill-mode: forwards;
}

.check.active {
    transform: translate3d(-4px, 4px, 0);
    opacity: 1;
    transition: all 0.5s cubic-bezier(0.49, 1.74, 0.38, 1.74);
    transition-delay: 0.2s;
}

@keyframes loading {
    30% {
        opacity: 1;
    }

    85% {
        transform: rotate(1080deg);
        opacity: 1;
        border-color: #262626;
    }

    100% {
        transform: rotate(1080deg);
        opacity: 1;
        border-color: #1c89ff;
    }
}