.contenedorregistro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 100px;
  margin-bottom: 200px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-width: 400px;
  max-width: 800px;
  padding: 3.125em;

  background-color: white;
  border-radius: 20px;
  box-shadow: 5px 5px 15px -1px rgb(0 0 0 / 75%);
}

.signup {
  display: block;

  margin-bottom: 0.5em;

  font-size: x-large;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.palabrainput {
  width: 100%;
  margin: 0.1em;
  margin-right: -10px;
  margin-bottom: 0.01em;

  font-family: Inter, sans-serif;
  font-size: x-large;
  font-size: 12px;
  font-weight: bold;
  color: black;
  text-align: justify;
  text-transform: uppercase;
  letter-spacing: 2px;

  outline: none;
}

.form--input {
  width: 100%;
  height: 40px;
  margin-bottom: 1.25em;
  padding: 0.8em;

  font-family: Inter, sans-serif;

  border: 1px solid gray;
  border-radius: 5px;
  outline: none;
}

.form--input:focus {
  border: 1px solid #f461c1;
  outline: none;
}

.form--submit {
  cursor: pointer;

  width: 50%;
  padding: 0.625em;

  color: white;

  background-color: #f461c1;
  border: 1px dashed #f461c1;
  border-radius: 5px;
}

.form--submit:hover {
  cursor: pointer;

  color: #4579e2;

  background-color: #d9dee4;
  border: 1px dashed #4579e2;

  transition: 0.5s;
}

.form {
  max-width: 320px;
  padding: 2rem 0.7rem 0.7rem;

  font-size: 1.125rem;
  text-align: center;

  background-color: #fff;
  border: 1px solid rgb(159 159 160);
  border-radius: 20px;
  box-shadow: 0 10px 60px rgb(218 229 255);
}

.form-title {
  font-size: 1.8rem;
  font-weight: 500;
  color: #000;
}

.form-paragraph {
  margin-top: 10px;
  font-size: 0.9375rem;
  color: rgb(105 105 105);
}

.drop-container {
  cursor: pointer;

  position: relative;

  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;

  margin-top: 2.1875rem;
  padding: 10px;

  color: #444;

  background-color: #fff;
  border: 2px dashed rgb(171 202 255);
  border-radius: 10px;

  transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
}

.drop-container:hover {
  background: rgb(0 140 255 / 16.4%);
  border-color: rgb(17 17 17 / 61.6%);
}

.drop-container:hover .drop-title {
  color: #222;
}

.drop-title {
  font-size: 20px;
  font-weight: bold;
  color: #444;
  text-align: center;

  transition: color 0.2s ease-in-out;
}

#file-input {
  width: 350px;
  max-width: 100%;
  padding: 2px;

  color: #444;

  background: #fff;
  border: 1px solid rgb(8 8 8 / 28.8%);
  border-radius: 10px;
}

#file-input::file-selector-button {
  cursor: pointer;

  margin-right: 20px;
  padding: 10px 20px;

  color: #fff;

  background: #084cdf;
  border: none;
  border-radius: 10px;

  transition: background 0.2s ease-in-out;
}

#file-input::file-selector-button:hover {
  background: #0d45a5;
}

.subirimagen {
  max-width: 320px;
  margin-bottom: 10px;
  padding: 2rem 0.7rem 0.7rem;

  font-size: 1.125rem;
  text-align: center;

  background-color: #fff;
  border: 1px solid rgb(159 159 160);
  border-radius: 20px;
  box-shadow: 0 10px 60px rgb(218 229 255);
}

.subirimagen-title {
  font-size: 1.8rem;
  font-weight: 500;
  color: #000;
}

.subirimagen-paragraph {
  margin-top: 10px;
  font-size: 0.9375rem;
  color: rgb(105 105 105);
}

.drop-container {
  cursor: pointer;

  position: relative;

  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;

  margin-top: 2.1875rem;
  padding: 10px;

  color: #444;

  background-color: #fff;
  border: 2px dashed rgb(171 202 255);
  border-radius: 10px;

  transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
}

.drop-container:hover {
  background: rgb(0 140 255 / 16.4%);
  border-color: rgb(17 17 17 / 61.6%);
}

.drop-container:hover .drop-title {
  color: #222;
}

.drop-title {
  font-size: 20px;
  font-weight: bold;
  color: #444;
  text-align: center;

  transition: color 0.2s ease-in-out;
}

#file-input {
  width: 350px;
  max-width: 100%;
  padding: 2px;

  color: #444;

  background: #fff;
  border: 1px solid rgb(8 8 8 / 28.8%);
  border-radius: 10px;
}

#file-input::file-selector-button {
  cursor: pointer;

  margin-right: 20px;
  padding: 10px 20px;

  color: #fff;

  background: #4579e2;
  border: none;
  border-radius: 10px;

  transition: background 0.2s ease-in-out;
}

#file-input::file-selector-button:hover {
  background: #0d45a5;
}
