.colores {
  color: #6a738b;
}

/* ---------------------------------------------------------------------------------------------- */
/* --------------------------------------------NavBar------------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */

body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  line-height: 34px;
  color: #4b4f5d;
  text-decoration: none;
  word-wrap: break-word !important;

  background: #edf2f4;
  background-image: url("../IMG/fondo.webp");
  background-size: cover;
}



.toggle,
[id^="drop"] {
  display: none;
}

/* Giving a background-color to the nav container. */
nav {
  top: 0;
  margin: 0;
  padding: 0;
  background-color: #f461c1;
}

a{
  white-space: nowrap;
}

#logo {
  float: left;
  display: block;

  padding: 0 30px;

  font-size: 20px;
  line-height: 60px;
}

/* Since we'll have the "ul li" "float:left"
   * we need to add a clear after the container. */

nav::after {
  content: "";
  clear: both;
  display: table;
}

/* Removing padding, margin and "list-style" from the "ul",
   * and adding "position:reltive" */
nav ul {
  position: relative;

  float: right;

  margin: 0;
  padding: 0;

  list-style: none;
  z-index: 100000;
}

/* Positioning the navigation items inline */
nav ul li {
  float: left;
  display: inline-block;
  margin: 0;
  background-color: #f461c1;
}

/* Styling the links */
nav a {
  display: block;

  padding: 18px 20px;

  font-size: 17px;
  color: #fff;
  text-decoration: none;
}

/* nav ul li ul li:hover { background: #000000; } */

/* Background color change on Hover */
nav a:hover {
  background-color: #4579e2;
}

/* Hide Dropdowns by Default
   * and giving it a position of absolute */
nav ul ul {
  position: absolute;

  /* has to be the same number as the "line-height" of "nav a" */
  top: 70px;
  display: none;
}

/* Display Dropdowns on Hover */
nav ul li:hover > ul {
  display: inherit;
}

/* Fisrt Tier Dropdown */
nav ul ul li {
  position: relative;
  float: none;
  display: list-item;
  width: 170px;
}

/* Second, Third and more Tiers
   * We move the 2nd and 3rd etc tier dropdowns to the left
   * by the amount of the width of the first tier.
  */
nav ul ul ul li {
  position: relative;
  top: -60px;

  /* has to be the same number as the "width" of "nav ul ul li" */
  left: 170px;
}

/* Change ' +' in order to change the Dropdown symbol */
li > a::after {
  content: " +";
}

li > a:only-child::after {
  content: "";
}

/* Media Queries
  --------------------------------------------- */

@media all and (width <= 768px) {
  #logo {
    float: none;
    display: block;

    width: 100%;
    padding: 0;

    text-align: center;
  }

  nav {
    margin: 0;
  }

  /* Hide the navigation menu by default */

  /* Also hide the  */
  .toggle + a,
  .menu {
    display: none;
  }

  a:visited {
    color: white; /* Cambia el color aquí */
  }

  /* Stylinf the toggle lable */
  .toggle {
    display: block;

    padding: 14px 20px;

    font-size: 17px;
    color: #fff;
    text-decoration: none;

    background-color: #f461c1;
    border: none;
  }

  .toggle:hover {
    background-color: #4579e2;
  }

  /* Display Dropdown when clicked on Parent Lable */
  [id^="drop"]:checked + ul {
    display: block;
  }

  /* Change menu item's width to 100% */
  nav ul li {
    display: block;
    width: 100%;
  }

  nav ul ul .toggle,
  nav ul ul a {
    padding: 0;
  }

  nav ul ul ul a {
    padding: 0 80px;
  }

  nav a:hover,
  nav ul ul ul a {
    color: white;
    text-decoration: none;
    background-color: #f461c1;
  }

  nav ul li ul li .toggle,
  nav ul ul a,
  nav ul ul ul a {
    padding: 14px 20px;
    font-size: 17px;
    color: #fff;
  }

  nav ul li ul li .toggle,
  nav ul ul a {
    background-color: #212121;
  }

  /* Hide Dropdowns by Default */
  nav ul ul {
    position: static;
    float: none;
    color: #fff;

    /* has to be the same number as the "line-height" of "nav a" */
  }

  /* Hide menus on hover */
  nav ul ul li:hover > ul,
  nav ul li:hover > ul {
    display: none;
  }

  /* Fisrt Tier Dropdown */
  nav ul ul li {
    display: block;
    width: 100%;
  }

  nav ul ul ul li {
    position: static;

    /* has to be the same number as the "width" of "nav ul ul li" */
  }
}


@media all and (width <= 330px) {
  nav ul li {
    display: block;
    width: 94%;
  }
}

a {
  color: white; /* Cambia el color aquí */
}

/* ---------------------------------------------------------------------------------------------- */

/* --------------------------------------Formulario--------------------------------------------- */

/* ---------------------------------------------------------------------------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* body {
  min-height: 100vh;
  background: #f8f8f8;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding: 3em 0;
} */

#title {
  padding-bottom: 30px;
}

h1,
.question {
  font-weight: 600;
  color: #094067;
}

h1 {
  margin-bottom: 5px;
}

h1,
label {
  color: #094067;
}

p {
  color: #5f6c7b;
}

h1,
#description {
  text-align: center;
}

#description {
  margin-bottom: 20px;
}

#survey-form {
  width: 90%;
  max-width: 630px;
  margin: 0 auto;
  padding: 0.5em 1em;

  background: #fff;
  border-radius: 15px;
  box-shadow: 7px 4px 13px rgb(0 0 0 / 18%);
}

#survey-form .form-group {
  display: flex;
  flex-direction: column;
}

#survey-form .form-group input {
  margin: 5px 0 15px;
  padding: 1.2em 1em;

  /* margin: 5px 0 15px; */

  /* padding: 1.2em 1em; */
}

#survey-form .form-group label {
  width: 115px;
}

#survey-form :placeholder {
  color: black;
}

#survey-form .question {
  margin-bottom: 5px;
}

/* #survey-form select {
  border: 1.7px solid #90b4ce;
  color: #5f6c7b;
  width: 100%;
  padding: 1.15em 0.5em;
  margin-bottom: 15px;
} */

/* #survey-form input,
#survey-form textarea {
  border: none;
  border: 1.7px solid #90b4ce;
  outline: none;
}
#survey-form input[type="radio"],
#survey-form input[type="checkbox"] {
  margin-right: 5px;
} */

/* #survey-form textarea {
  resize: vertical;
  width: 100%;
  height: 120px;
  border-radius: 2px;
  padding: 1em 1em;
} */
#survey-form button {
  cursor: pointer;

  display: block;

  margin: 30px auto 0;
  padding: 1em 5em;

  font-size: 1rem;
  font-weight: 600;
  color: #fff;

  background: #3da9fc;
  border: none;
  outline: none;
}

* {
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100vh;

  background-color: #262626;
}

.button {
  cursor: pointer;

  position: relative;

  display: block;

  width: 200px;
  height: 36px;

  font-size: 18px;
  font-weight: 300;
  color: #fff;

  background-color: #1c89ff;
  border: solid 1px transparent;
  border-radius: 18px;

  transition: all 0.1s ease-in-out;
}

.button:hover {
  background-color: transparent;
  border-color: #fff;
  transition: all 0.1s ease-in-out;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 50px;
  height: 50px;
  margin: 30px auto 0;

  opacity: 0;
  background: transparent;
  border: solid 2px #424242;
  border-top: solid 2px #1c89ff;
  border-radius: 50%;
}

.check {
  transform: translate3d(-4px, 50px, 0);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  opacity: 0;
}

.check span:nth-child(1) {
  transform: rotate(45deg);

  display: block;

  width: 10px;
  height: 2px;

  background-color: #fff;
}

.check span:nth-child(2) {
  transform-origin: 100%;
  transform: rotate(-45deg) translate3d(14px, -4px, 0);

  display: block;

  width: 20px;
  height: 2px;

  background-color: #fff;
}

.loader.active {
  animation: loading 2s ease-in-out;
  animation-fill-mode: forwards;
}

.check.active {
  transform: translate3d(-4px, 4px, 0);
  opacity: 1;
  transition: all 0.5s cubic-bezier(0.49, 1.74, 0.38, 1.74);
  transition-delay: 0.2s;
}

@keyframes loading {
  30% {
    opacity: 1;
  }

  85% {
    transform: rotate(1080deg);
    opacity: 1;
    border-color: #262626;
  }

  100% {
    transform: rotate(1080deg);
    opacity: 1;
    border-color: #1c89ff;
  }
}

/* ---------------------------------------------------------------------------------------------- */

/* --------------------------------------Cuerpo index------------------------------------------- */

/* ---------------------------------------------------------------------------------------------- */

.contenedor {
  position: fixed;
  z-index: 5;
  bottom: 0;
  left: 0;

  float: left;

  width: 100%;
  height: 60px;
  max-height: 60px;
  margin: 0;
}

.editorial {
  z-index: 5;
  bottom: 0;
  left: 0;

  float: left;
  display: fixed;

  width: 100%;
  height: 60px;
  max-height: 60px;
  margin: 0;
}

.parallax1 > use {
  animation: move-forever1 10s linear infinite;

  &:nth-child(1) {
    animation-delay: -2s;
  }
}

.parallax2 > use {
  animation: move-forever2 8s linear infinite;

  &:nth-child(1) {
    animation-delay: -2s;
  }
}

.parallax3 > use {
  animation: move-forever3 6s linear infinite;

  &:nth-child(1) {
    animation-delay: -2s;
  }
}

.parallax4 > use {
  animation: move-forever4 4s linear infinite;

  &:nth-child(1) {
    animation-delay: -2s;
  }
}

@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }

  100% {
    transform: translate(-90px, 0%);
  }
}

@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }

  100% {
    transform: translate(85px, 0%);
  }
}

@keyframes move-forever3 {
  0% {
    transform: translate(85px, 0%);
  }

  100% {
    transform: translate(-90px, 0%);
  }
}

@keyframes move-forever4 {
  0% {
    transform: translate(-90px, 0%);
  }

  100% {
    transform: translate(85px, 0%);
  }
}


/* ---------------------------------------------------------------------------------------------- */
/* ------------------------------------------Tablas---------------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */

.contenedorCentro{
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 30px;
}

table {
  font-family: sans-serif;
}
table th, table td {
  padding: 0.25em 0.5em;
  text-align: left;
}
table th:nth-child(2), table td:nth-child(2) {
  text-align: right;
}
table td {
  background-color: #ffffff;
}
table th {
  background-color: #3461c1;
  color: #fff;
}
.zigzag {
  border-collapse: separate;
  border-spacing: 0.25em 1em;
}
.zigzag tbody tr:nth-child(odd) {
  transform: rotate(0.7deg);
}
.zigzag thead tr, .zigzag tbody tr:nth-child(even) {
  transform: rotate(-0.7deg);
}


/* ---------------------------------------------------------------------------------------------- */
/* ------------------------------------------Card empleado--------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */
/*
*/

.container {
  position: relative;
  height: 300px;
  background: #6c23c0;
  padding: 2rem;
  border-radius: 8px;
  transition: all .25s ease-in-out;
}


/* ---------------------------------------------------------------------------------------------- */
/* ------------------------------------------Modal--------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
