.colores {
  color: #d90429;
  color: #ff98aa;
  color: #fdf6fd;
  color: #ffadad;
  color: #ffd6a5;
  color: #edf2f4;
  color: #d9dee4;
  color: #bfc7d1;
  color: #4b4f5d;
  color: #6a738b;
}

/*----------------------------------------------------------------------------------------------*/
/*--------------------------------------------NavBar------------------------------------------- */
/*----------------------------------------------------------------------------------------------*/

body {
  background: #edf2f4;
  font-size: 22px;
  line-height: 34px;
  color: #4b4f5d;
  margin: 0;
  padding: 0;
  word-wrap: break-word !important;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  background-image: url(../IMG/fondo.webp);
  background-size: cover;
}

/* h1 {
  font-size: 60px;
  text-align: center;
  color: #fff;
}

h3 {
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  color: #fff;
}

h3 a {
  color: #fff;
}

a {
  color: #fff;
}

h1 {
  margin-top: 100px;
  text-align: center;
  font-size: 60px;
  line-height: 70px;
  font-family: "Open Sans", sans-serif;
} */

/* #container {
  margin: 0 auto;
  max-width: 890px;
}

p {
  text-align: center;
} */

.toggle,
[id^="drop"] {
  display: none;
}

/* Giving a background-color to the nav container. */
nav {
  margin: 0;
  padding: 0 0 0 0;
  background-color: #f461c1;
  top: 0;
}

#logo {
  display: block;
  padding: 0 30px;
  float: left;
  font-size: 20px;
  line-height: 60px;
}

/* Since we'll have the "ul li" "float:left"
   * we need to add a clear after the container. */

nav:after {
  content: "";
  display: table;
  clear: both;
}

/* Removing padding, margin and "list-style" from the "ul",
   * and adding "position:reltive" */
nav ul {
  float: right;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

/* Positioning the navigation items inline */
nav ul li {
  margin: 0px;
  display: inline-block;
  float: left;
  background-color: #f461c1;
}

/* Styling the links */
nav a {
  display: block;
  padding: 18px 20px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
}

/* nav ul li ul li:hover { background: #000000; } */

/* Background color change on Hover */
nav a:hover {
  background-color: #4579e2;
}

/* Hide Dropdowns by Default
   * and giving it a position of absolute */
nav ul ul {
  display: none;
  position: absolute;
  /* has to be the same number as the "line-height" of "nav a" */
  top: 70px;
}

/* Display Dropdowns on Hover */
nav ul li:hover > ul {
  display: inherit;
}

/* Fisrt Tier Dropdown */
nav ul ul li {
  width: 170px;
  float: none;
  display: list-item;
  position: relative;
}

/* Second, Third and more Tiers	
   * We move the 2nd and 3rd etc tier dropdowns to the left
   * by the amount of the width of the first tier.
  */
nav ul ul ul li {
  position: relative;
  top: -60px;
  /* has to be the same number as the "width" of "nav ul ul li" */
  left: 170px;
}

/* Change ' +' in order to change the Dropdown symbol */
li > a:after {
  content: " +";
}
li > a:only-child:after {
  content: "";
}

/* Media Queries
  --------------------------------------------- */

@media all and (max-width: 768px) {
  #logo {
    display: block;
    padding: 0;
    width: 100%;
    text-align: center;
    float: none;
  }

  nav {
    margin: 0;
  }

  /* Hide the navigation menu by default */
  /* Also hide the  */
  .toggle + a,
  .menu {
    display: none;
  }

  a:visited {
    color: white; /* Cambia el color aquí */
  }

  /* Stylinf the toggle lable */
  .toggle {
    display: block;
    background-color: #f461c1;
    padding: 14px 20px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    border: none;
  }

  .toggle:hover {
    background-color: #4579e2;
  }

  /* Display Dropdown when clicked on Parent Lable */
  [id^="drop"]:checked + ul {
    display: block;
  }

  /* Change menu item's width to 100% */
  nav ul li {
    display: block;
    width: 100%;
  }

  nav ul ul .toggle,
  nav ul ul a {
    padding: 0 0px;
  }

  nav ul ul ul a {
    padding: 0 80px;
  }

  nav a:hover,
  nav ul ul ul a {
    background-color: #f461c1;
    text-decoration: none;
    color: white;
  }

  nav ul li ul li .toggle,
  nav ul ul a,
  nav ul ul ul a {
    padding: 14px 20px;
    color: #fff;
    font-size: 17px;
  }

  nav ul li ul li .toggle,
  nav ul ul a {
    background-color: #212121;
  }

  /* Hide Dropdowns by Default */
  nav ul ul {
    float: none;
    position: static;
    color: #ffffff;
    /* has to be the same number as the "line-height" of "nav a" */
  }

  /* Hide menus on hover */
  nav ul ul li:hover > ul,
  nav ul li:hover > ul {
    display: none;
  }

  /* Fisrt Tier Dropdown */
  nav ul ul li {
    display: block;
    width: 100%;
  }

  nav ul ul ul li {
    position: static;
    /* has to be the same number as the "width" of "nav ul ul li" */
  }
}

@media all and (max-width: 330px) {
  nav ul li {
    display: block;
    width: 94%;
  }
}
a {
  color: white; /* Cambia el color aquí */
}

/*----------------------------------------------------------------------------------------------*/
/*--------------------------------------Formulario--------------------------------------------- */
/*----------------------------------------------------------------------------------------------*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body {
  min-height: 100vh;
  background: #f8f8f8;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding: 3em 0;
} */

#title {
  padding-bottom: 30px;
}
h1,
.question {
  font-weight: 600;
  color: #094067;
}
h1 {
  margin-bottom: 5px;
}
h1,
label {
  color: #094067;
}
p {
  color: #5f6c7b;
}
h1,
#description {
  text-align: center;
}
#description {
  margin-bottom: 20px;
}
#survey-form {
  max-width: 630px;
  margin: 0 auto;
  width: 90%;
  padding: 0.5em 1em;
  box-shadow: 7px 4px 13px rgba(0, 0, 0, 0.18);
  border-radius: 15px;
  background: #fff;
}
#survey-form .form-group {
  display: flex;
  flex-direction: column;
}
#survey-form .form-group input {
  margin: 5px 0 15px;
  padding: 1.2em 1em;
  /* margin: 5px 0 15px; */
  /* padding: 1.2em 1em; */
}
#survey-form .form-group label {
  width: 115px;
}
#survey-form :placeholder {
  color: black;
}
#survey-form .question {
  margin-bottom: 5px;
}
/* #survey-form select {
  border: 1.7px solid #90b4ce;
  color: #5f6c7b;
  width: 100%;
  padding: 1.15em 0.5em;
  margin-bottom: 15px;
} */
/* #survey-form input,
#survey-form textarea {
  border: none;
  border: 1.7px solid #90b4ce;
  outline: none;
}
#survey-form input[type="radio"],
#survey-form input[type="checkbox"] {
  margin-right: 5px;
} */
/* #survey-form textarea {
  resize: vertical;
  width: 100%;
  height: 120px;
  border-radius: 2px;
  padding: 1em 1em;
} */
#survey-form button {
  display: block;
  outline: none;
  border: none;
  background: #3da9fc;
  color: #fff;
  padding: 1em 5em;
  font-weight: 600;
  font-size: 1rem;
  margin: 30px auto 0;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}
.main {
  background-color: #262626;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button {
  position: relative;
  display: block;
  width: 200px;
  height: 36px;
  border-radius: 18px;
  background-color: #1c89ff;
  border: solid 1px transparent;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.button:hover {
  background-color: transparent;
  border-color: #fff;
  transition: all 0.1s ease-in-out;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: transparent;
  margin: 30px auto 0 auto;
  border: solid 2px #424242;
  border-top: solid 2px #1c89ff;
  border-radius: 50%;
  opacity: 0;
}
.check {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate3d(-4px, 50px, 0);
  opacity: 0;
}
.check span:nth-child(1) {
  display: block;
  width: 10px;
  height: 2px;
  background-color: #fff;
  transform: rotate(45deg);
}
.check span:nth-child(2) {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #fff;
  transform: rotate(-45deg) translate3d(14px, -4px, 0);
  transform-origin: 100%;
}
.loader.active {
  animation: loading 2s ease-in-out;
  animation-fill-mode: forwards;
}
.check.active {
  opacity: 1;
  transform: translate3d(-4px, 4px, 0);
  transition: all 0.5s cubic-bezier(0.49, 1.74, 0.38, 1.74);
  transition-delay: 0.2s;
}
@keyframes loading {
  30% {
    opacity: 1;
  }
  85% {
    opacity: 1;
    transform: rotate(1080deg);
    border-color: #262626;
  }
  100% {
    opacity: 1;
    transform: rotate(1080deg);
    border-color: #1c89ff;
  }
}

/*----------------------------------------------------------------------------------------------*/
/*--------------------------------------Cuerpo index------------------------------------------- */
/*----------------------------------------------------------------------------------------------*/

.contenedor {
  display: fixed;
  width: 100%;
  height: 60px;
  max-height: 60px;
  margin: 0;
  z-index: 5;
  bottom: 0;
  left: 0px;
  float: left;
  bottom: 0;
}

.editorial {
  display: fixed;
  width: 100%;
  height: 60px;
  max-height: 60px;
  margin: 0;
  z-index: 5;
  bottom: 0;
  left: 0px;
  float: left;
  bottom: 0;
}

.parallax1 > use {
  animation: move-forever1 10s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
}
.parallax2 > use {
  animation: move-forever2 8s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
}
.parallax3 > use {
  animation: move-forever3 6s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
}
.parallax4 > use {
  animation: move-forever4 4s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
}
@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}
@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
@keyframes move-forever3 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}
@keyframes move-forever4 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
