<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org%22%3E/">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro comprador</title>
    <link rel="shortcut icon" href="../IMG/Mosqueteros.ico" type="image/x-icon">
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="stylesheet" href="../CSS/registro.css">
    <link rel="stylesheet" href="../css/navbar.css">

</head>

<body>
    <!-- <nav th:replace="/fragments/navbar :: nav"></nav> -->

    <nav>
        <div id="logo"></div>

        <label for="drop" class="toggle">Menu</label>
        <input type="checkbox" id="drop" />
        <ul class="menu">

            <li>
                <label for="drop-1" class="toggle">Compradores +</label>
                <a th:if="${session.usuariosession != null}" sec:authorize="hasAnyRole('ADM', 'SUP')">Compradores</a>
                <input type="checkbox" id="drop-1" />
                <ul>
                    <li><a th:href="@{/compradores/registrar}">Registrar</a></li>
                    <li><a th:href="@{/compradores/modificar}">Modificar</a></li>
                    <li><a th:href="@{/compradores/listar}">Listar</a></li>
                </ul>
            </li>

            <li>
                <label for="drop-2" class="toggle">Empleados +</label>
                <a th:if="${session.usuariosession != null}" sec:authorize="hasAnyRole('ADM', 'SUP')">Empleados</a>
                <input type="checkbox" id="drop-2" />
                <ul>
                    <li><a th:href="@{/empleados/registrar}">Registrar</a></li>
                    <li><a th:href="@{/empleados/modificar}">Modificar</a></li>
                    <li><a th:href="@{/empleados/listar}">Listar</a></li>
                </ul>
            </li>

            <li>
                <label for="drop-2" class="toggle">Juegos +</label>
                <a th:if="${session.usuariosession != null}" sec:authorize="hasAnyRole('ADM', 'SUP')">Juegos</a>
                <input type="checkbox" id="drop-2" />
                <ul>
                    <li><a th:href="@{/juegos/registrar}">Registrar</a></li>
                    <li><a th:href="@{/juegos/modificar}">Modificar</a></li>
                    <li><a th:href="@{/juegos/listar}">Listar</a></li>
                </ul>
            </li>

            <li>
                <label for="drop-2" class="toggle">Usuarios +</label>
                <a th:if="${session.usuariosession != null}" sec:authorize="hasAnyRole('ADM', 'SUP')">Usuarios</a>
                <input type="checkbox" id="drop-2" />
                <ul>
                    <li><a th:href="@{/registrar}">Registar</a></li>
                    <li><a th:href="@{/modificar}">Modificar</a></li>
                    <li><a th:href="@{/listar}">Listar</a></li>
                </ul>
            </li>

            <li>
                <label for="drop-2" class="toggle">Ventas +</label>
                <a th:if="${session.usuariosession != null}" sec:authorize="hasAnyRole('ADM', 'SUP', 'EMP')">Ventas</a>
                <input type="checkbox" id="drop-2" />
                <ul>
                    <li><a th:href="@{/ventas/registrar}">Realizar Venta</a></li>
                    <li><a th:href="@{/ventas/listar}">Listar Ventas</a></li>
                </ul>
            </li>

            <li>
                <label for="drop-2" class="toggle">Perfil +</label>
                <a th:if="${session.usuariosession != null}">Perfil</a>
                <input type="checkbox" id="drop-2" />
                <ul>
                    <li><a href="#">Editar Mi Perfil</a></li>
                    <li><a href="/logout">Cerrar Sesión</a></li>
                </ul>
            </li>

            <li><a th:if="${session.usuariosession == null}" th:href="@{/login}">Logueate</a></li>
            <li><a th:href="@{/}">Inicio</a></li>

        </ul>
    </nav>
   

    <div class="contenedorregistro">

        <form class="form" th:action="@{/compradores/registro/}" method="POST">
            <span class="signup">Registro Compradores</span>
            <label class="palabrainput" style="font-size: 12px;" for="name">Nombre y Apellido*</label>
            <input type="text" name="nombreApellido" required placeholder="Ingrese Nombre y Apellido"
                class="form--input">

            <label class="palabrainput" style="font-size: 12px;" for="name">DNI*</label>
            <input type="text" name="dni" required placeholder="Ingrese DNI" class="form--input">

            <label class="palabrainput" style="font-size: 12px;" for="name">Correo Electrónico*</label>
            <input type="email" name="email" required placeholder="Ingrese correo electronico" class="form--input">

            <label class="palabrainput" for="name">Fecha de Nacimiento*</label>
            <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" onchange="calcularEdad()"
                class="form--input">
            <label for="edad"></label>
            <span><input type="text" id="edad" name="edad" readonly class="form--input1"> Años</span>


            <button type="submit" class="form--submit">
                Registrar
            </button>
        </form>

    </div>

    <div class="contenedor">

        <svg class="editorial" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28 " preserveAspectRatio="none">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 
    58-18 88-18s
    58 18 88 18 
    58-18 88-18 
    58 18 88 18
    v44h-352z" />
            </defs>
            <g class="parallax1">
                <use xlink:href="#gentle-wave" x="50" y="3" fill="#f461c1" />
            </g>
            <g class="parallax2">
                <use xlink:href="#gentle-wave" x="50" y="0" fill="#4579e2" />
            </g>
            <g class="parallax3">
                <use xlink:href="#gentle-wave" x="50" y="9" fill="#3461c1" />
            </g>
            <g class="parallax4">
                <use xlink:href="#gentle-wave" x="50" y="6" fill="#fff" />
            </g>
        </svg>


    </div>

    <script src="../JS/carrusel.js"></script>
    <script>
        function calcularEdad() {
            var fechaNacimiento = new Date(document.getElementById("fecha_nacimiento").value);
            var hoy = new Date();
            var edad = hoy.getFullYear() - fechaNacimiento.getFullYear();
            var mes = hoy.getMonth() - fechaNacimiento.getMonth();
            if (mes < 0 || (mes === 0 && hoy.getDate() < fechaNacimiento.getDate())) {
                edad--;
            }
            document.getElementById("edad").value = edad;
        }
    </script>
</body>

</html>