<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org%22%3E/">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Compradores</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="/CSS/carrusel.css">
    <link rel="stylesheet" href="/CSS/style.css">
    <link rel="stylesheet" href="/CSS/styleborrar.css">

</head>

<body>

    <nav th:replace="/fragments/navbar :: nav"> </nav>

    <!-- <div class="row justify-content-center">
        <div class="col-md-4 mt-5">
            <div class="alert alert-success" th:if="${success != null}" th:text="${success}"></div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-4 mt-5">
            <div class="alert alert-danger" th:if="${error != null}" th:text="${error}"></div>
        </div>
    </div> -->

    <div class="contenedorCentro">

        <table class="zigzag">
            <thead>
                <tr>
                    <th class="header">Id</th>
                    <th class="header">Nombre y Apellido</th>
                    <th class="header">Dni</th>
                    <th class="header">Edad</th>
                    <th class="header">Fecha de Alta</th>
                    <th class="header">Estado</th>
                    <th class="header">Email</th>
                    <th class="header">Modificar</th>
                    <th class="header">Cambiar Estado</th>
                    <th class="header">Eliminar</th>
                </tr>
            </thead>
            <tbody th:each="compradores : ${compradores}">
                <tr>
                    <th scope="row" th:text="${compradores.id}"></th>
                    <td th:text="${compradores.nombreApellido}"></td>
                    <td th:text="${compradores.dni}"></td>
                    <td th:text="${compradores.edad}"></td>
                    <td th:text="${compradores.fechaDeAlta}"></td>
                    <td th:text="${compradores.activo  ? 'Activo' : 'Inactivo'}"></td>
                    <td th:text="${compradores.email}"></td>
                    <td>
                        <a th:href="@{/compradores/modificar/__${compradores.id}__}"
                            class="btn btn-primary">Modificar</a>
                    </td>
                    <td>
                        <a th:href="@{/compradores/modificarEstado/__${compradores.id}__}"><button type="button"
                                class="btn btn-secondary btn-sm">Cambiar</button></a>
                    </td>
                    <td>
                        <a class="btn btn-danger" th:href="@{/compradores/eliminar/__${compradores.id}__}">Eliminar </a>
                    </td>
                </tr>

            </tbody>

    </div>


    <div class="contenedor">

        <svg class="editorial" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28 " preserveAspectRatio="none">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 
                                                              58-18 88-18s
                                                              58 18 88 18 
                                                              58-18 88-18 
                                                              58 18 88 18
                                                              v44h-352z" />
            </defs>
            <g class="parallax1">
                <use xlink:href="#gentle-wave" x="50" y="3" fill="#f461c1" />
            </g>
            <g class="parallax2">
                <use xlink:href="#gentle-wave" x="50" y="0" fill="#4579e2" />
            </g>
            <g class="parallax3">
                <use xlink:href="#gentle-wave" x="50" y="9" fill="#3461c1" />
            </g>
            <g class="parallax4">
                <use xlink:href="#gentle-wave" x="50" y="6" fill="#fff" />
            </g>
        </svg>


    </div>

    <script src="../JS/carrusel.js"></script>

</body>

</html>