<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio Empleado</title>

    <link rel="stylesheet" href="../CSS/carrusel.css">
    <link rel="stylesheet" href="../CSS/style1.css">
    <link rel="stylesheet" href="../CSS/cardempleados.css">

</head>

<body>
    <nav th:replace="/fragments/navbar :: nav"></nav>

    <div class="contenedorEmpleado">

        <article class="profile">
            <div class="profile-image">
                <img th:if="${session.usuariosession != null}"><img
                    th:src="@{/imagen/__${session.usuariosession.legajoDni}__}" />
            </div>
            <h2 class="profile-username" th:if="${session.usuariosession != null}"
                th:text="${session.usuariosession.nombreUsuario}"></h2>
            <small class="profile-user-handle" th:if="${session.usuariosession != null}"
                th:text="${session.usuariosession.roles}"></small>

            <div class="profile-links">
                <a href="#" class="link link--icon">
                    <i class="ph-twitter-logo"></i>
                </a>
                <a href="#" class="link link--icon">
                    <i class="ph-facebook-logo"></i>
                </a>
                <a href="#" class="link link--icon">
                    <i class="ph-instagram-logo"></i>
                </a>
            </div>
        </article>
    </div>



    <div class="contenedor">

        <svg class="editorial" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28 " preserveAspectRatio="none">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 
    58-18 88-18s
    58 18 88 18 
    58-18 88-18 
    58 18 88 18
    v44h-352z" />
            </defs>
            <g class="parallax1">
                <use xlink:href="#gentle-wave" x="50" y="3" fill="#f461c1" />
            </g>
            <g class="parallax2">
                <use xlink:href="#gentle-wave" x="50" y="0" fill="#4579e2" />
            </g>
            <g class="parallax3">
                <use xlink:href="#gentle-wave" x="50" y="9" fill="#3461c1" />
            </g>
            <g class="parallax4">
                <use xlink:href="#gentle-wave" x="50" y="6" fill="#fff" />
            </g>
        </svg>


    </div>

    <script src="../JS/carrusel.js"></script>

</html>