<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org%22%3E/">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Empleados</title>
    <link rel="shortcut icon" href="../IMG/Mosqueteros.ico" type="image/x-icon">
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="stylesheet" href="../CSS/tablas.css">
    <link rel="stylesheet" href="../css/navbar.css">

</head>

<body>

    <!-- <nav th:replace="/fragments/navbar :: nav"> </nav> -->

    <nav>
        <div id="logo"></div>

        <label for="drop" class="toggle">Menu</label>
        <input type="checkbox" id="drop" />
        <ul class="menu">

            <li>
                <label for="drop-1" class="toggle">Compradores +</label>
                <a th:if="${session.usuariosession != null}" sec:authorize="hasAnyRole('ADM', 'SUP')">Compradores</a>
                <input type="checkbox" id="drop-1" />
                <ul>
                    <li><a th:href="@{/compradores/registrar}">Registrar</a></li>
                    <li><a th:href="@{/compradores/modificar}">Modificar</a></li>
                    <li><a th:href="@{/compradores/listar}">Listar</a></li>
                </ul>
            </li>

            <li>
                <label for="drop-2" class="toggle">Empleados +</label>
                <a th:if="${session.usuariosession != null}" sec:authorize="hasAnyRole('ADM', 'SUP')">Empleados</a>
                <input type="checkbox" id="drop-2" />
                <ul>
                    <li><a th:href="@{/empleados/registrar}">Registrar</a></li>
                    <li><a th:href="@{/empleados/modificar}">Modificar</a></li>
                    <li><a th:href="@{/empleados/listar}">Listar</a></li>
                </ul>
            </li>

            <li>
                <label for="drop-2" class="toggle">Juegos +</label>
                <a th:if="${session.usuariosession != null}" sec:authorize="hasAnyRole('ADM', 'SUP')">Juegos</a>
                <input type="checkbox" id="drop-2" />
                <ul>
                    <li><a th:href="@{/juegos/registrar}">Registrar</a></li>
                    <li><a th:href="@{/juegos/modificar}">Modificar</a></li>
                    <li><a th:href="@{/juegos/listar}">Listar</a></li>
                </ul>
            </li>

            <li>
                <label for="drop-2" class="toggle">Usuarios +</label>
                <a th:if="${session.usuariosession != null}" sec:authorize="hasAnyRole('ADM', 'SUP')">Usuarios</a>
                <input type="checkbox" id="drop-2" />
                <ul>
                    <li><a th:href="@{/registrar}">Registar</a></li>
                    <li><a th:href="@{/modificar}">Modificar</a></li>
                    <li><a th:href="@{/listar}">Listar</a></li>
                </ul>
            </li>

            <li>
                <label for="drop-2" class="toggle">Ventas +</label>
                <a th:if="${session.usuariosession != null}" sec:authorize="hasAnyRole('ADM', 'SUP', 'EMP')">Ventas</a>
                <input type="checkbox" id="drop-2" />
                <ul>
                    <li><a th:href="@{/ventas/registrar}">Realizar Venta</a></li>
                    <li><a th:href="@{/ventas/listar}">Listar Ventas</a></li>
                </ul>
            </li>

            <li>
                <label for="drop-2" class="toggle">Perfil +</label>
                <a th:if="${session.usuariosession != null}">Perfil</a>
                <input type="checkbox" id="drop-2" />
                <ul>
                    <li><a href="#">Editar Mi Perfil</a></li>
                    <li><a href="/logout">Cerrar Sesión</a></li>
                </ul>
            </li>

            <li><a th:if="${session.usuariosession == null}" th:href="@{/login}">Logueate</a></li>
            <li><a th:href="@{/}">Inicio</a></li>

        </ul>
    </nav>

    <div class="content">
        <div class="cardExito">
            <div class="headerExito">
                <div class="imageCheck">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <g stroke-width="0" id="SVGRepo_bgCarrier"></g>
                        <g stroke-linejoin="round" stroke-linecap="round" id="SVGRepo_tracerCarrier"></g>
                        <g id="SVGRepo_iconCarrier">
                            <path stroke-linejoin="round" stroke-linecap="round" stroke-width="1.5" stroke="#000000"
                                d="M20 7L9.00004 18L3.99994 13"></path>
                        </g>
                    </svg>
                </div>
                <div class="actions">
                    <button type="button" class="history" th:if="${success != null}" th:text="${success}">Éxito al
                        eliminar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="cardEliminar">
            <div class="headerEliminar">
                <div class="image"><svg aria-hidden="true" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
                        fill="none">
                        <path
                            d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z"
                            stroke-linejoin="round" stroke-linecap="round"></path>
                    </svg></div>

                <div class="actions">
                    <button class="desactivate" type="button" th:if="${error != null}" th:text="${error}">Error al
                        eliminar</button>
                </div>
            </div>
        </div>
    </div>


    <div class="content">
        <div class="cintaCard shadowCinta">
            <div class="ribbon">
                <div class="ribbon-stitches-top"></div>
                <div class="ribbon-content">
                    <span>Empleados administrativos</span>
                </div>
                <div class="ribbon-stitches-bottom"></div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="group">
            <svg class="icon" aria-hidden="true" viewBox="0 0 24 24">
                <g>
                    <path
                        d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z">
                    </path>
                </g>
            </svg>
            <input class="buscaPalabra" placeholder="Search" type="search" class="input">
        </div>
    </div>

    <div class="contenedorCentro">

        <table class="zigzag">
            <thead>
                <tr>
                    <th class="header">Legajo</th>
                    <th class="header">Nombre y Apellido</th>
                    <th class="header">Email</th>
                    <th class="header">Rol</th>
                    <th class="header">Modificar</th>
                </tr>
            </thead>
            <tbody th:each="usuarios : ${usuarios}">
                <tr>
                    <th scope="row" th:text="${usuarios.legajoDni}"></th>
                    <td th:text="${usuarios.nombreUsuario}"></td>
                    <td th:text="${usuarios.email}"></td>
                    <td th:text="${usuarios.roles}"></td>
                    <td>
                        <button class="btnModificar">
                            <a th:href="@{/perfil/__${usuarios.legajoDni}__}">Modificar</a>
                        </button>
                    </td>
                </tr>

            </tbody>

    </div>


    <div class="contenedor">

        <svg class="editorial" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28 " preserveAspectRatio="none">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 
    58-18 88-18s
    58 18 88 18 
    58-18 88-18 
    58 18 88 18
    v44h-352z" />
            </defs>
            <g class="parallax1">
                <use xlink:href="#gentle-wave" x="50" y="3" fill="#f461c1" />
            </g>
            <g class="parallax2">
                <use xlink:href="#gentle-wave" x="50" y="0" fill="#4579e2" />
            </g>
            <g class="parallax3">
                <use xlink:href="#gentle-wave" x="50" y="9" fill="#3461c1" />
            </g>
            <g class="parallax4">
                <use xlink:href="#gentle-wave" x="50" y="6" fill="#fff" />
            </g>
        </svg>


    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <script src="../JS/carrusel.js"></script>

</body>

</html>